*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background-image: url(images/patt.png);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.row:after, .menu:after{
    content: "";
    display: block;
    clear: both;
}
[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3{
    width: 25%;
}
.col-md-6{
    width: 50%;
}
.col-md-9{
    width: 75%;
}
.header{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo{
    margin-top: 7px;
}
.menu > li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}
.menu > li:last-child{
    border-right: 1px solid #2c71b8;
}
.menu > li > a{
    display: block;
    text-decoration: none;
    height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
}
.menu > li > a:hover{
    color: white;
    background-color: #2b71b7;
}
.arrow:hover{
    background: url(images/arrowWhite.png) no-repeat;
}
.submenu > li > a:hover{
    color:  #2c71b8;
    background-color: white;
}
li.products:hover>a{
    background: #2c71b8;
    color: white;
}
.submenu > li > a{
    display: block;
    text-decoration: none;
    color:white;
    background-color: #2b71b7;
    height: 40px;
    line-height: 40px;
    font-size: 21px;
    font-weight: 300;
    padding-left: 28px;
}
.menu li:hover .submenu{
    visibility: visible;
}
.products:hover .arrow{
    background: url(images/arrowWhite.png) no-repeat;
}
.submenu{
    visibility: hidden;
    position: absolute;
    width: 286px;
    height: 340px;
    margin-left: -1px;
    padding-top: 20px;
    background-color: #2b71b7;
}
.products{
    position: relative;
}
.arrow{
    display: block;
    width: 20px;
    height: 20px;
    background: url(images/arrowBlue.png) no-repeat;
    position: absolute;
    top: 13px;
    right: 7px;
}
.search{
    border: 1px solid #2c71b8;
    padding: 5px;
}
.input-search-text{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 140px;
}
.input-search-text:focus{
    border: none;
}
.input-search-text::placeholder{
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.cart{
    width: 40px;
    height: 40px;
    background-color: white;
    position: relative;
}
.products-count{
    position: absolute;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    top: -10px;
    left: -10px;
    background-color: tomato;
}
